@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: Montserrat;
}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-align: left;
    padding-left: 1vw;
}

#title {
    text-align: center;
    background-color: green;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#about_section {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: palegoldenrod;
    color: black;
}

#about_text {
    padding: 3vh;
    background-color: transparent;
}

#upload_section {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: palegoldenrod;
    color: black;
}

#upload_text {
    padding: 3vh;
    background-color: transparent;
}

a {
    color: blue;
}

a:hover {
    color: purple;
}